<launch>
    <param name="use_sim_time" type="bool" value="false" />

    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
        <param name="frame_id" value="odom" />
        <!-- latch=false because we have a dynamic map --> 
        <param name="latch" value="false" />
        <!-- filter_ground=true because we don't want the ground as an obstacle-->
        <param name="filter_ground" value="false" />
    </node>
    <node name="lidartop_broadcaster" pkg="mapper" type="lidartop_broadcaster">
    </node>
</launch>
